<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head") %>
    <title>CAV</title>
     <link rel="stylesheet" href="/css/newProduct.css"></link>
</head>

<body>
    <%- include("../partials/header") %>
    <main>
        <form action="/newProduct" method="POST" enctype="multipart/form-data">
            <div class="titulo">
                <h2 for="name">Nuevo producto</h2>
                <h3>Es fácil y rápido</h3>
            </div>
            <div class="text_input">
            <fieldset>
                <label><b>Nombre de producto</b></label>
                <input type="text" name="name" id="name" required placeholder="Nombre de producto">
            </fieldset>

            <fieldset>
                <label><b>Marca</b></label>
                <input list="brand" name="id_brand">
            </fieldset>
            </fieldset>
                <datalist id="brand" placeholder="Marca">
                    <option value="1">Exquisita</option>
                    <option value="2">La Paulina</option>
                    <option value="4">Matarazzo</option>
                    <option value="5">Blancaflor</option>
                    <option value="6">Chamigo</option>
                    <option value="7">Hileret</option>
                    </datalist>
            </fieldset>

            <label id="description"><b>Descripción</b></label>
            <fieldset>
                
                <textarea name="description" id="description" placeholder='Escribe aquí'></textarea>
            </fieldset>

            <fieldset>
                <label><b>Adjuntar imagen</b></label>
                <input type="file" name="image" id="image">
            </fieldset>

            <fieldset>
                <label><b>Categoría</b></label>
                <input list="category" name="id_category">
            </fieldset>

            <fieldset>
                <datalist id="category" placeholder="Categoría">
                    <option value="1">Alacena</option>
                    <option value="2">Bebidas</option>
                    <option value="3">Congelados</option>
                </datalist>
                
                <label><b>Precio</b></label>
                <input type="number" min="0" name="price" id="price" placeholder="$300">
            </fieldset>
            </div>
            <fieldset>
                <button type="submit">Crear producto</button>
            </fieldset>

        </form>
    </main>
    <%- include("../partials/footer") %>
</body>

</html>