<head>
    <%- include("./partials/head") %> 
    <title>CAV</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<%- include("./partials/header") %>

<body>
  
    <%- include("./partials/footer") %>
</body>

</html>