<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head") %> 
    <title>CAV</title>
    <link rel="stylesheet" href="/css/index.css">
</head>


<body>
    <%- include("../partials/header") %>

  
    <%- include("../partials/footer") %>
</body>

</html>