<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAV</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <span><img src="/images/cav-verdecl.png" class="logo" alt="logo"></span>
        <div class="burgermenu">
            <input type="checkbox">
            <i class="fas fa-bars" id="burger-menu"></i>
            <i class="fas fa-times"></i>
            <nav class="navbar">
                <ul id="menu">
                    <li class="item"><a href="">PRODUCTOS</a></li>
                    <li class="item"><a href="">COMPRA MAYORISTA</a></li>
                    <li class="item"><a href="">PROMOCIONES</a></li>
                    <li class="item"><a href="/login.html">MI CUENTA</a></li>
                </ul>
            </nav>
        </div>
                <span id="ayuda">Ayuda
                    <i class="far fa-question-circle"></i></span>
                    <a href="productCart.html"><span id="carrito">Mi carrito
                    <i class="fas fa-shopping-cart"></i></span></a>
            
    </header>
    <main>
        <form>
            <input type="text" name="busqueda" placeholder="¿Qué estas buscando?" class="search">
            <i class="fas fa-search"></i>
        </form>
        <section>
        <h2>DESTACADOS DEL MES</h2>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/1084.jpg" alt="producto">
                    <p>Fideos Rina Matarazzo Spaghetti 500 Gr</p>
                    <p class="precio">$110,46</p>
                    <div class="botones-home">
                        <a href="productDetail.html"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart.html"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
            </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/5321.jpg" alt="producto">
                    <p>Queso cremoso La Paulina x kg.</p>
                    <p class="precio">$799,00</p>
                    <div class="botones-home">
                        <a href="productDetail.html"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart.html"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
            </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/2210.jpg" alt="producto">
                    <p>Gelatina Exquisita light sabor frutilla</p>
                    <p class="precio">$59,00</p>
                    <div class="botones-home">
                        <a href="productDetail.html"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart.html"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/2014.jpg" alt="producto">
                    <p>Premezcla Blancaflor pan de Calabaza 300gr.</p>
                    <p class="precio">$120,00</p>
                    <div class="botones-home">
                        <a href="productDetail.html"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart.html"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/1879.jpg" alt="producto">
                    <p>Mate cocido Chamigo x 50 saquitos</p>
                    <p class="precio">$91,00</p>
                    <div class="botones-home">
                        <a href="productDetail.html"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart.html"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/2011.jpg" alt="producto">
                    <p>Premezcla Blancaflor ñoquis de papa 350gr.</p>
                    <p class="precio">$215,00</p>
                    <div class="botones-home">
                        <a href="productDetail.html"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart.html"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/1586.jpg" alt="producto">
                    <p>Caja chocoarroz x 24 unidades</p>
                    <p class="precio">$980,00</p>
                    <div class="botones-home">
                        <a href="productDetail.html"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart.html"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article>
            <article class="article">
                <h4>Articulo</h4>
                <img src="/skus/6057.jpg" alt="producto">
                    <p>Vino alambrado bonarda 750ml.</p>
                    <p class="precio">$454,00</p>
                    <div class="botones-home">
                        <a href="productDetail.html"><span class="botones"><i class="far fa-eye"></i>DETALLES</span></a>
                        <a href="productCart.html"><span class="botones"><i class="fas fa-shopping-cart"></i>COMPRAR</span></a></div>
                    </article> 
        </section>

    </main>
    <footer>
        <ul>
            <li class="links-footer"><a href="">QUIENES SOMOS</a></li>
            <li class="links-footer"><a href="">PAGOS Y ENVIOS</a></li>
            <li class="links-footer"><a href="">REGISTRATE</a></li>
        </ul>
        <ul>
            <li class="links-footer">CONTACTO</li>
            <li><a href=""><i class="fab fa-whatsapp fa-2x"></i>Whatsapp</a></li>
            <li><a href=""><i class="far fa-envelope fa-2x"></i>Email</a></li>
        </ul>
        <div class="rrss"><div class="links-footer">REDES SOCIALES</div>
            <div><i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-instagram-square fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i></div></div>
            <div class="newsletter"><p>NEWSLETTER</p>
            <p>¡No te pierdas ninguna oferta!</p>
                <form>
                    <input type="text" name="nombre" placeholder="Nombre">
                    <input type="email" name="email" placeholder="Email">
                        <button type="submit" id="newsletter">ENVIAR</button>
                </form>
            </div>
    </footer>
</body>

</html>