<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
    <link rel="stylesheet" href="/css/index.css">
    </link>
    <link rel="stylesheet" href="/css/productDetail.css">
    </link>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <section>
        <figure>
            <img src="/images/azucar.jpg"></img>
            <img src="/images/azucar.jpg"></img>
            <img src="/images/azucar.jpg"></img>
        </figure>

    </section>
    <figure>
        <img src="/images/azucar.jpg"></img>
        <figcaption>
            <p>10% off</p>
        </figcaption>
    </figure>
    </section>
    <section>
        <article>
            <h2>Nombre de producto</h2>
            <h3>Marca</h3>
            <h3>Código producto: 300845</h3>
            <a href="/productCart">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum debitis fuga repudiandae unde. Odit ab
                eum dignissimos fuga molestia</p></a>
        </article>
    </section>
    <section>
        <form>
            <input type="number" min="0" placeholder="0">
            <button type="submit">AGREGAR AL CARRITO</button>
        </form>
    </section>
</body>

</html>