
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #ffcc29;
}

header a{
    color: black;
    text-decoration: none;
}



.burgermenu input[type="checkbox"], .burgermenu .fa-bars, .burgermenu .fa-times {
    position: absolute;  
    left: 0;
    top: 0; 
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    width: 48px;
    height: 48px;  
  }
   
  .burgermenu .fa-bars, .burgermenu .fa-times {
    pointer-events: none;
  }
   
  .burgermenu input[type="checkbox"] {
    opacity: 0; 
  }
   
   
  .burgermenu nav {
    display: none;
  }

  .burgermenu nav ul{
      list-style-type: none;
  }
   
  .burgermenu input:checked ~ nav {
    display: block;
    position: absolute;
    left: 10px;
    top: 50px;
    background-color: #ffcc29;
    z-index: 3;
    line-height: 25px;
  }
   
  .burgermenu input:checked ~ .fa-bars {
    display: none;
  }
   
  .burgermenu input:not(:checked) ~ .fa-times {
    display: none;
  }




#burger-menu{
    padding-top: 20px;
    padding-left: 20px;
    display: inline-block;
}

.logo{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    width: 20%
}

#ayuda{
    display: none;
}

#carrito{
    display: block;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}

@media(min-width:481px) {

    header ul{
        list-style-type: none;
    }
    
    header a {
        text-decoration: none;
        color: black;
        }
    
    #burger-menu{
        display: none;
    }
    
    
    .burgermenu .navbar{
        display: flex;
        justify-content: left;
    }
    
    #menu{
        font-size: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
    }
    
    .item a{
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
        color: black;
    }
    
    .logo{
        display: flex;
        justify-content: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 30px;
        width: 60px;
    }
    
    header{
        display: flex;
        flex-direction: row;
        background-color: #ffcc29;
        flex-wrap: nowrap;
    }
    
    #ayuda{
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 10px;
        padding-top: 20px;
    }
    
    #carrito{
        font-size: 10px;
        padding: 10px;
        padding-top: 20px;
        text-align: center;
    }

}

    @media(min-width:769px) {


        .logo{
            text-align: left;
        }
        
        .item{
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
        }
        
        #ayuda{
            font-size: 14px;
            padding: 20px;
        }
        
        #carrito{
            font-size: 14px;
            padding: 20px;
        }
    }

