*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Roboto, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: #ffcc29;
}

header a{
    color: black;
    text-decoration: none;
}


.navbar{
    display: none;
}

#burger-menu{
    padding-top: 20px;
    padding-left: 20px;
    display: inline-block;
}

.logo{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    width: 20%
}

#ayuda{
    display: none;
}

#carrito{
    display: block;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}

main{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #fce59b;
}

main h4{
    display: none;
}

h2{
    padding: 20px;
}

.article{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: solid 1px #ebebeb;
    background-color: white;
    box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    width: 200px;
    height: 270px;
    align-items: flex-start;
}

.article a{
    color: black;
    text-decoration: none;
}

.article > img {
    width: 150px;
}

.precio{
    color: red;
    font-weight: bold;
    margin: 2px;
}

.botones-home{
    display: flex;
    margin: 5px;
    justify-content: center;
}

.botones{
    justify-content: center;
    text-align: center;
    display: flex;
    border: solid black 1px;
    font-size: 10px;
    padding: 5px;
}

footer{
    text-align: center;
    font-size: 18px;
    background-color: #007965;
    padding: 10px
}

footer ul{
    list-style-type: none;
}

#newsletter{
    display: flex;
    text-align: center;
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

footer a {
    color: black;
    text-decoration:none;
}

.links-footer{
    margin: 30px;
    font-weight:900;
}

footer i {
    padding: 5px;
    color: #00af91;
}

.rrss{
    margin: 20px;
}

.search{
    padding: 5px;
    border: solid #fce59b;
    border-radius: 10%;
}


footer form input{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}


@media(min-width:481px) {

header ul{
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
    }

#burger-menu{
    display: none;
}

.navbar{
    display: flex;
    justify-content: left;
}

#menu{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.item a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

.logo{
    display: flex;
    justify-content: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 60px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #ffcc29;
    flex-wrap: nowrap;
}

#ayuda{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
}

#carrito{
    font-size: 10px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

main{
    display: block;
    justify-content: center;
    text-align: center;
}


}

@media(min-width:769px) {


.logo{
    text-align: left;
}

.item{
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

#ayuda{
    font-size: 14px;
    padding: 20px;
}

#carrito{
    font-size: 14px;
    padding: 20px;
}

footer{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 16px;
    background-color: #007965;
    padding: 20px;
    justify-content: space-between;

}

#newsletter{
    display: flex;
    text-align: center;
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.newsletter{
    display: block;
    align-items: center;
    line-height: 25px;
}

footer a {
    color: black;
    text-decoration:none;
}

.links-footer{
    margin: 20px;
    font-weight:900;
}

#iconos{
    padding: 5px;
    color: #00af91;
}

}