*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Roboto, sans-serif;
}

main{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 20px;
    /*background-color: #fce59b;*/
}

main h4{
    display: none;
}

h2{
    padding: 20px;
}

.article{
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: solid 1px #ebebeb;
    background-color: white;
    box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    width: 200px;
    height: 270px;
    align-items: flex-start;
}

.article a{
    color: black;
    text-decoration: none;
}

.article img {
    width: 150px;
    height: 150px;
}

.article:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.precio{
    color: red;
    font-weight: bold;
    margin: 2px;
}

.botones-home{
    display: flex;
    margin: 5px;
    justify-content: center;
}

.botones{
    justify-content: center;
    text-align: center;
    display: flex;
    border: solid black 1px;
    font-size: 10px;
    padding: 5px;
}


@media(min-width:481px) {

main{
    display: block;
    justify-content: center;
    text-align: center;
}

.article{
    margin: 30px;
}


}
