main *{
    margin: 0 auto;
    border:none;
    width: 60%;
          
}

 main form{
    margin:0 auto;
    background-color:#fff;
    width: 80%;
    border-radius: 8px;
    padding: 10px;
}

label{
    padding: 5px;
    margin-top: 5%;

}

fieldset textarea{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 100px;
    border: solid 1px #eee;
    font-family: Roboto;
    margin: 10px 0px 20px 0px;
 }

fieldset input, fieldset button {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    border: none;
    width: 50vw;
    margin: 15px auto;  
}

fieldset button{
    background-color: #00af91;
    color: white;
    justify-content: center;
    margin-bottom: 15px;
    
}

button:hover{
    background-color: #007965;
    animation: boton 500ms normal;
}

@keyframes boton{
    0%{background-color:#00af91;}
    100%{background-color: #007965;}
}

@media(min-width:480px) {

    main form{
       width: 70vmin;
    }

   main fieldset input,  fieldset button, fieldset textarea {
        width: 60vmin;
    }
}