*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Roboto, sans-serif;
}

header a{
    text-decoration: none;
    color:black;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #f58634;
}

.navbar{
    display: none;
}

#burger-menu{
    padding-top: 20px;
    padding-left: 20px;
    display: inline-block;
}

.logo{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    width: 20%;
}

#ayuda{
    display: none;
}

#carrito{
    display: none;
    font-size: 10px;
    text-align: center;
    padding: 10px;
}


main{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #fce59b;
}




 main h2 {
    
    text-align:left;
    padding: 1%;
   
}

/*************************************** Article ****************************************************/

main form {
display: flex;
flex-direction: column;
background-color: white;

}



article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1%;
    padding: 1%;
    border-bottom: solid 1px #ebebeb;
    background-color: white;
    box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 )

}


article img{
height: 150px;
width: 150px;


}


article i {
    padding: 1%;
    color: #f58634;
}

article h3 {
    padding: 1%;
}


article h4 {
   text-align: center;
   padding: 1%;
   width: 400px;
}

input[type=button], input[type=submit] {
    
    background-color: #f58634;
    width: 30%;
    border: none;
    text-align: center;
    color: white;
    padding: 1% 10%;
    text-decoration: none;
    border-radius: 8px;
    margin: 12px 35%;

}

main form h2{
    padding-right: 20%;
}

.total{
    font-size: 1.5em;
    text-align: right;
    padding-right: 20%;

} 

/*************************************************                                 *****************************************/

#botones-home{
    display: flex;
    margin: 5px;
    justify-content: center;
}

.botones{
    justify-content: center;
    text-align: center;
    display: flex;
    
    font-size: 10px;
    padding: 5px;
}

footer{
    text-align: center;
    font-size: 18px;
    background-color: #007965;
    padding: 10px
}

#newsletter{
    display: flex;
    text-align: center;
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer a {
    color: black;
    text-decoration:none;
}

.links-footer{
    margin: 30px;
    font-weight:900;
}

#iconos{
    padding: 5px;
    color: #00af91;
}

.rrss{
    margin: 20px;
}

.search{
    padding: 5px;
    border: solid #fce59b;
    border-radius: 10%;
}


@media(min-width:481px) {

#burger-menu{
    display: none;
}

.navbar{
    display: flex;
    justify-content: left;
}

#menu{
    font-size: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.item{
    padding-left: 10px;
    padding-right: 10px;
}

.logo{
    display: flex;
    justify-content: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    width: 60px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: #ffcc29;
    flex-wrap: nowrap;
}

#ayuda{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 10px;
    padding-top: 20px;
}

#carrito{
    font-size: 10px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
}

main{
    display: block;
    justify-content: center;
    text-align: center;
}


}

@media(min-width:769px) {

.logo{
    text-align: left;
}

.item{
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
}

#ayuda{
    font-size: 14px;
    padding: 20px;
}

#carrito{
    font-size: 14px;
    padding: 20px;
}

footer{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 12px;
    background-color: #007965;
    padding: 20px;
    justify-content: space-between;

}

#newsletter{
    display: flex;
    text-align: center;
    padding: 5px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.newsletter{
    display: block;
    align-items: center;
}

footer a {
    color: black;
    text-decoration:none;
}

.links-footer{
    margin: 20px;
    font-weight:900;
}

#iconos{
    padding: 5px;
    color: #00af91;
}

article{
    display: flex;
    flex-direction: row;
}

article h4 {
    text-align: left;
}
}