form *{
    margin: 0 auto;
    background-color:#fff;
    border-radius: 8px;
    border:none;
    width: 40%;      
}

section{
    text-align: center;
}

h1 {
    padding: 20px;
    text-align: center;
}

figure img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

button {
    padding: 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

button a{
    text-decoration: none;
}

p {
    font-weight: bold;
    display:block;
    margin-top: 20px;
    padding: 10px;
}


