<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head") %>
    <title>CAV</title>
    <link rel="stylesheet" href="/css/index.css"></link>
    <link rel="stylesheet" href="/css/login.css"></link>
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <form>
            <fieldset>
                <label>Nombre de producto:</label>
                <input type="text" name="name" id="name" required placeholder="Nombre de producto">
                <label>Descripción:</label>
                <textarea name="description" id="description">Escribe aquí las caracteristicas de tu producto</textarea> 
                <label>Ajuntar imagen</label>
                <input type="file" name="image" id="image">
                <label>Categoría:</label>
                <input list="category" name="category">
                <datalist id="category" placeholder="Categoría">
                    <option value="Alacena">
                    <option value="Bebidas">
                    <option value="Congelados">
                </datalist>
                <label>Precio:</label>
                <input type="number" name="price" id="price">
                <button type="submit">Crear producto</button>
            </fieldset>
        </form>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>