<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
    <ul>
        <li class="links-footer"><a href="">QUIENES SOMOS</a></li>
        <li class="links-footer"><a href="">PAGOS Y ENVIOS</a></li>
        <li class="links-footer"><a href="../usuario/registro">REGISTRATE</a></li>
    </ul>
    <ul>
        <li class="links-footer">CONTACTO</li>
        <li><a href=""><i class="fab fa-whatsapp fa-2x"></i>Whatsapp</a></li>
        <li><a href=""><i class="far fa-envelope fa-2x"></i>Email</a></li>
    </ul>
    <div class="rrss"><div class="links-footer">REDES SOCIALES</div>
        <div><i class="fab fa-facebook-square fa-2x"></i>
        <i class="fab fa-instagram-square fa-2x"></i>
        <i class="fab fa-twitter-square fa-2x"></i></div></div>
        <div class="newsletter"><p>NEWSLETTER</p>
        <p>¡No te pierdas ninguna oferta!</p>
            <form>
                <input type="text" name="nombre" placeholder="Nombre">
                <input type="email" name="email" placeholder="Email">
                    <button type="submit" id="newsletter">ENVIAR</button>
            </form>
        </div>
</footer>