<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header>
    <span><img src="/images/cav-verdecl.png" class="logo" alt="logo"></span>
    <div class="burgermenu">
        <input type="checkbox">
        <i class="fas fa-bars" id="burger-menu"></i>
        <i class="fas fa-times"></i>
        <nav class="navbar">
            <ul id="menu">
                <li class="item"><a href="/">PRODUCTOS</a></li>
                <li class="item"><a href="/newProduct">PROVEEDORES</a></li>
                <li class="item"><a href="/login">MI CUENTA</a></li>
                <li class="item"><a href="/">INICIO</a></li>
            </ul>
        </nav>
    </div>
            <span id="ayuda">Ayuda
                <i class="far fa-question-circle"></i></span>
                <a href="productCart"><span id="carrito">Mi carrito
                <i class="fas fa-shopping-cart"></i></span></a>
        
</header>