<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header>
    <span><a href="/"><img src="/images/cav-verdecl.png" class="logo" alt="logo"></a></span>
    <div class="burgermenu">
        <input type="checkbox">
        <i class="fas fa-bars" id="burger-menu"></i>
        <i class="fas fa-times"></i>
        <nav class="navbar">
            <ul id="menu">
                <li class="item"><a href="/productList">PRODUCTOS</a></li>
                <li class="item"><a href="/newProduct">PROVEEDORES</a></li>
                <% if (!locals.userLogged) { %>
                    <li class="item"><a href="/usuario/ingresar">INGRESAR</a></li>
                    <li class="item"><a href="/usuario/registro">REGISTRARSE</a></li>
                    
                   
                <% } else { %>
                    <li  class="item"><a>Usuario: <%= locals.userLogged.name %></a></li>
                    <figure_Icono><img src="/uploads/avatars/<%= locals.userLogged.fotoPerfil%>" alt=""></figure_Icono>
                    <li class="item"><a href="/usuario/logout">CERRAR</a></li>
                    
                    <% } %>
                
            </ul>
        </nav>
    </div>

   

            <span id="ayuda">Ayuda
                <i class="far fa-question-circle"></i></span>

                <% if (!locals.userLogged) { %>
                           
                    <p id="ayuda"><a href="/usuario/lista">USUARIOS</a></p>
                   
                <% } else { %>
                    
                    <% } %>
                
                <a href="productCart"><span id="carrito">Mi carrito
                <i class="fas fa-shopping-cart"></i></span></a>

               
        
</header>