<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header>
    <span><a href="/"><img src="/images/cav-verdecl.png" class="logo" alt="logo"></a></span>
    <div class="burgermenu">
        <input type="checkbox">
        <i class="fas fa-bars" id="burger-menu"></i>
        <i class="fas fa-times"></i>
        <nav class="navbar">
            <ul id="menu">
                <li class="item"><a href="/productList">Productos</a></li>
                
                <% if (!locals.userLogged) { %>
                    <li class="item"><a href="/usuario/ingresar">Ingresar</a></li>
                    <li class="item"><a href="/usuario/registro">Registrarse</a></li>
                    
                   
                <% } else { %>
                    <li class="item"><a>Usuario: <%= locals.userLogged.name %></a></li>
                    <li class="item"><a href="/usuario/detail/<%= locals.userLogged.id %>">Editar mis datos</li>
                    <figure_Icono><img src="/uploads/avatars/<%= locals.userLogged.fotoPerfil%>" alt=""></figure_Icono>    
                    <li class="item"><a href="/usuario/logout">Cerrar</a></li>
                    <% } %>

                <% if (locals.userLogged) { %>
                        <% if (locals.userLogged.administrador ==1) { %>   
                            
                            <p id="ayuda"><a href="/newProduct">Agregar productos</a></p>
                            <p id="ayuda"><a href="/usuario/lista">Listar usuarios</a></p>
                            <% } else { %>
                               
    
                            <% } %>  
                        
    
                       
                    <% } else { %>
                       
                        <% } %>

                
            </ul>
        </nav>
    </div>

   

            <span id="ayuda">Ayuda
                <i class="far fa-question-circle"></i></span>

               
                
                <a href="productCart"><span id="carrito">Mi carrito
                <i class="fas fa-shopping-cart"></i></span></a>

               
        
</header>