<!DOCTYPE html>
<html lang="en">
<head>
    <title>REGISTRATE</title>
    <link rel="stylesheet" href="/css/userEdit.css"></link>
</head>
<body> 
    <%- include("../partials/header") %> 
    <main>

        <form class="editar" action="/usuario/updatePassword/<%= user.id %>" method="POST" enctype="multipart/form-data">                         
        
           
             <fieldset>
            <legend><b>Nueva Contraseña</b></legend>
            <label for="password"></label>
            <input type="password" name="newPassword" id="newPassword" required>
            </fieldset>

            <fieldset>
                <legend><b>Confirmar contraseña</b></legend>
                <label for="password"></label>
                <input type="password" name="confirmNewPassword" id="confirmNewPassword" required>
                </fieldset>
                
             
                <input type="submit" value="Modificar password">  
                
 
              
            
        </form>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>