<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head") %>
        <title>CAV</title>
        <link rel="stylesheet" href="/css/index.css">
        </link>
        <link rel="stylesheet" href="/css/login.css">
        </link>

</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <form action="/usuario/ingresar" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <div class="icono"><i class="fas fa-user-alt"></i></div>
                    <input type="email" name="email" id="email" required placeholder="Usuario/ e-mail">
                    <input type="password" name="password" id="password" required placeholder="Contraseña">
                    <p class="recuperarContrasena"><a href="">¿Olvidaste tu contraseña</a></p>
                    <button type="submit"></a>Ingresar</button>

                    
                    
                        !--<p class="recuperarContrasena"><a href="">¿Olvidaste tu contraseña</a></p>-->
                    <button type="submit">Enviar</button>
                   
                    <p class="registro"><a href="/usuario/registro">REGISTRATE</a></p>
                    <p class="registro"><a href="/usuario/perfil">USUARIOS</a></p>
                </fieldset>
            </form>
        </main>
        <%- include("../partials/footer") %>
</body>

</html>