<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head") %>
        <title>CAV</title>
        <link rel="stylesheet" href="/css/index.css">
        </link>
        <link rel="stylesheet" href="/css/login.css">
        </link>

</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <div class="icono"><i class="fas fa-user-alt"></i></div>
            <p> Foto Perfil<!--%= 'req.body.fotoPerfil' %>--></p>
            <form action="/usuario/perfil" method="POST" enctype="multipart/form-data">

                <fieldset>
                    
                    <p>Nombre:<!--%=  req.body.name %>--></p>
                    <p>email:<!--%=  req.body.email%>--></p>
                    <p>domicilio:<!--%=  req.body.domicilio%>--></p>
                    <p>tipo:<!--%=  req.body.tipo%>--></p>
                    <p>interes:<!--%=  req.body.interes%>--></p>
                    <p>fechaNacimiento:<!--%= req.body.fechaNacimiento%>--></p>
                    <p>password:<!--%= req.body.password%>--></p>
                    <p>confirmPassword:<!--%= req.body.confirmPassword%>--></p>
                   
                    <button type="submit">Editar perfil</button>
                  
                </fieldset>
            </form>

            <form action='/usuario/perfil?_method=DELETE' method="POST">
                <button type="submit">Borrar perfil</button>
            </form>
        </main>
        <%- include("../partials/footer") %>
</body>

</html>